<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Vergleich</title>
    <link rel="stylesheet" href="../static/bootstrap.css"  th:href="@{/bootstrap.css}" />
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Vergleich der beiden Tabellen</a>
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>

</header>

<table class="table">
    <thead>
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtstag</th>
        <th>E-Mail</th>
        <th>Versichertennummer</th>
        <th>Versicherung</th>
        <th>Telefonnummer</th>
        <th style="width: 90px"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="index: ${#numbers.sequence(0, #arrays.length(patients)-1)}">
        <tr bgcolor="#cbedc7">
            <td th:text="${patients[index].firstName}">Vorname</td>
            <td th:text="${patients[index].lastName}">Nachname</td>
            <td th:text="${patients[index].birthday}">Geburtstag</td>
            <td th:text="${patients[index].email}">mail</td>
            <td th:text="${patients[index].insuranceNumber}">versichertennummer</td>
            <td th:text="${patients[index].insurance}">versicherung</td>
            <td th:text="${patients[index].phoneNumber}">telefon</td>
        </tr>
        <tr bgcolor="#ff7f50">
            <td th:text="${patientsAnonym[index].firstName}">Vorname</td>
            <td th:text="${patientsAnonym[index].lastName}">Nachname</td>
            <td th:text="${patientsAnonym[index].birthday}">Geburtstag</td>
            <td th:text="${patientsAnonym[index].email}">Mail</td>
            <td th:text="${patientsAnonym[index].insuranceNumber}">Versicherungsnummer</td>
            <td th:text="${patientsAnonym[index].insurance}">Versicherung</td>
            <td th:text="${patientsAnonym[index].phoneNumber}">Telefon</td>
        </tr>
    </tr>

    </tbody>
</table>


</body>
</html>