<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Vergleich bestimmter Datensätze</title>
    <link rel="stylesheet" href="../static/bootstrap.css"  th:href="@{/bootstrap.css}" />
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Vergleich ausgewählter Datensätze</a>
        </div>
    </nav>

</header>

<table class="table">
    <thead>
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>E-Mail</th>
        <th>Versichertennummer</th>
        <th>Versicherung</th>
        <th>Telefonnummer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient: ${patients}">
        <td th:text="${patient.firstName}">Vorname</td>
        <td th:text="${patient.lastName}">Nachname</td>
        <td th:text="${patient.email}">Mail</td>
        <td th:text="${patient.patientNumber}">Patientennummer</td>
        <td th:text="${patient.insurance}">Versicherung</td>
        <td th:text="${patient.phoneNumber}">Telefon</td>
    </tr>
    </tbody>
</table>
</body>
</html>