<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Validator Service</title>
    <link rel="stylesheet" href="../static/bootstrap.css"  th:href="@{/bootstrap.css}" />
</head>
<body>
<header>
    <div class="container-fluid">
        <h2>Validator Service</h2>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-light" href="index.html">Home</a>
        </div>
    </nav>

</header>

</body>
</html>