<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Validator Service</title>
    <link rel="stylesheet" href="../static/bootstrap.css"  th:href="@{/bootstrap.css}" />
</head>
<body>
<header>
    <div class="container-fluid">
        <h2>Validator Service</h2>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-light" href="index.html">Gesamte Daten vergleichen</a>
        </div>
    </nav>

</header>


<form action="#" th:action="@{/selectedTables}" th:object="${selection}" method="post">


    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            <tr th:each="entry: ${tableOne}">
                <tr th:each="data: ${entry}">
                    <td th:each="d: ${data}">
                        <td th:text="${d.value}"></td>
                    </td>
                </tr>
            </tr>
        </tbody>
    </table>
    <button th:type="submit">Auswahl vergleichen</button>
</form>


</body>
</html>